@model Planet

@{
    ViewData["title"] = "Edit";
}

<h1>Edit</h1>



<form asp-action="toEdit">
    <input asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discovery"></label>
        <input asp-for="Discovery" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="Habitable" />
        <label asp-for="Habitable"></label>
    </div>
    <div class="form-group">
        <label asp-for="Galaxy"></label>
        <select asp-for="Galaxy" class="form-control" asp-items="@ViewBag.galaxies">
            <option>Select</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="KindOfPlanet"></label>
        <select asp-for="KindOfPlanet" class="form-control" asp-items="@Html.GetEnumSelectList<KindOfPlanet>()">
            <option>Select</option>
        </select>
    </div>
    @foreach (var item in ViewBag.atmospheres)
    {
        <div class="form-group">
            <input type="radio" asp-for="Atmosphere" id="@item" value="@item" />
            <label asp-for="@item">@item</label>
        </div>
    }
    <div class="form-group">
        <label asp-for="TranslationTime"></label>
        <input asp-for="TranslationTime" class="form-control" />
    </div>
    <input type="submit" value="Register" class="btn btn-dark" />
    <a asp-action="toList" asp-controller="planet" class="btn btn-primary">List planets</a>
</form>